*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}





/*** Navbar ***/
.navbar{
    width: 100%;
    background-color: #C4D7FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
}

.header-main {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}
.header-main nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex; /* Align items in a row */
    flex-grow: 1; /* Allow nav to grow */
    justify-content: flex-end; /* Align nav items to the right */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: red;
}





/*** footer ***/
footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content p{
    color: #ffffff;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}


.footer-links a:hover {
    text-decoration: underline;
}





/* candidate dashboard before login*/
 .candidate-dashboard1 {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.candidate-dashboard1 .content {
      flex: 1;
      padding: 20px;
      margin-top: 20px;
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      margin-bottom: 20px;
}


.candidate-dashboard1 .content button{
    background: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.candidate-dashboard1 .content button:hover{
    background: #2c3e50;
}
.candidate-dashboard1 input[type="text"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 90%;
}
.candidate-dashboard1 .job-list {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Space between job cards */
    margin-top: 40px;
}
.candidate-dashboard1 .job-card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    height: 190px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.candidate-dashboard1 .job-card:hover {
    transform: scale(1.02);
}
.candidate-dashboard1 .job-card h3{
    padding: 10px;
}
.candidate-dashboard1 .job-card p{
    padding: 10px;
}
.candidate-dashboard1 #job-listings{
    width: 100%;
}
.candidate-dashboard1 #job-listings .job-card .job-details{
    display: flex;
    justify-content: space-between;
}
.candidate-dashboard1 #job-listings .job-card .job-details .postedDate{
    font-weight: 600;
}







/* candidate dashboard after login*/
 .candidate-dashboard2 .content {
    display: flex;
    gap: 30px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    overflow: hidden;
}
#profile{
    width: 25%;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    transition: transform 0.2s;
}
#job-listings{
    width: 72%;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.candidate-dashboard2 .content button{
    background: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.candidate-dashboard2 .content button:hover{
    background: #2c3e50;
}
.candidate-dashboard2 input[type="text"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 90%;
}
.candidate-dashboard2 .job-list {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Space between job cards */
    margin-top: 40px;
}
.candidate-dashboard2 .job-card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    height: 170px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.candidate-dashboard2 .job-card:hover {
    transform: scale(1.02);
}
.candidate-dashboard2 .job-card h3{
    padding: 10px;
}
.candidate-dashboard2 .job-card p{
    padding: 10px;
}

.candidate-dashboard2 .profile {
    width: 25%;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.candidate-dashboard2 .profile-card {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.candidate-dashboard2 .avatar {
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #35424a;
    width: 100px;
    height: 100px;
}

.candidate-dashboard2 .profile-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #35424a;
}

.candidate-dashboard2 .profile-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #666;
}
.candidate-dashboard2 .profile .profile-card button{
    background: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.candidate-dashboard2 .content .job-listings{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}







/*** Register Page ***/
#register {
    width: 45%;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding:40px 100px;
    background: #ffffff;
}

#register .heading{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#register form{
    padding-top: 30px;
}

#register input[type='submit']{
    width: 100%;
}
#register input[type='submit']+span{
    margin-bottom: 40px;
    display: block;
}






/* Login Page */
#login {
    width: 40%;
    margin: 206px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding:40px 100px;
    background: #ffffff;
}

#login .heading{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#login form{
    padding-top: 30px;
}

#login input[type='submit']{
    width: 100%;
    margin-top: 20px;
}





/*** employer navbar ***/
.sidebar{
    background-color: rgb(53, 66, 74);
    color: white;
    width: 17%;
    height: 100vh;
    padding: 20px;
    margin-top: 10px;
    position:absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar li{
    margin-bottom: 10px;
}
.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.sidebar a:hover{
    background-color: #647D87;
    color: white;
    text-decoration: none;
}



/*** employer dashboard ***/
.employer-dashboard{
    width: 80%;
    position: absolute;
    right: 1%;
    top:0;
}
.employer-dashboard .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: skyblue;
    margin-top: 10px;
    color: yellow;
    font-size: 30px;
    font-weight: 600;
}
.employer-dashboard section{
    padding: 20px;
}
.employer-dashboard .card-header{
    text-align: center;
    background-color: #4CC9FE;
    color:white;
}
.employer-dashboard .card .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.employer-dashboard .card .card-body i{
    font-size: 40px;
}
.application-stats-section .row{
    margin-bottom: 20px;
}
.employer-dashboard .company-card{
    display: flex;
    align-items: start;
    align-content: start;
    padding: 20px;

}
.employer-dashboard .company-card span{
    font-weight: 600;
}






/*** add company ***/
.add-company{
    width: 80%;
    position: absolute;
    right: 1%;
    top:0;
}
.add-company .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: skyblue;
    margin-top: 10px;
    color: yellow;
    font-size: 30px;
    font-weight: 600;
}
.add-company section{
    padding: 20px;
}
.add-company .card-header{
    text-align: center;
    background-color: #4CC9FE;
    color:white;
}
.add-company .main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin:30px auto;
    padding: 30px;
    width: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.add-company .main-content i{
    font-size: 40px;
}




/**** company details ***/
.company-details{
    width: 80%;
    position: absolute;
    right: 1%;
    top:0;
}
.company-details .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: skyblue;
    margin-top: 10px;
    color: yellow;
    font-size: 30px;
    font-weight: 600;
}
.company-details .main-content{
     margin:30px auto;
}
.company-details .main-content .card-body span{
     font-weight:600;
}






/**** employer profile ***/
.employer-profile{
    width: 80%;
    position: absolute;
    right: 1%;
    top:0;
}
.employer-profile .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: skyblue;
    margin-top: 10px;
    color: yellow;
    font-size: 30px;
    font-weight: 600;
}
.employer-profile .main-content{
     margin:30px auto;
}
.employer-profile .main-content .card-body span{
     font-weight:600;
}






/**** add job ***/
.add-job{
    width: 80%;
    position: absolute;
    right: 1%;
    top:0;
}
.add-job .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: skyblue;
    margin-top: 10px;
    color: yellow;
    font-size: 30px;
    font-weight: 600;
}
.add-job .main-content .heading{
     margin:10px auto;
     text-align: center;
}
.add-job .main-content form{
     width: 50%;
     margin:10px auto;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     padding: 30px 100px;
}





/**** register candidate ***/
.register-candidate #register-candidate-form{
    width: 50%;
    margin:30px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 30px 100px;
}
.register-candidate #register-candidate-form .heading{
    padding-bottom:30px;
}
